body {
  font-size:16px;
  font-family:Georgia,Helvetica,Arial,freesans,clean,sans-serif;
  *font-size:small;
  line-height:23px;
  background:#ababab;
  text-align:left;
}
#content {
  margin: 0 auto;
  width: 700px;
}
h1 {
  font-size: 3.8em;
  color: #131313;
  margin-bottom: 3px;
}
h1 .small {
  font-size: 0.4em;
}
h1 a {
  text-decoration: none;
}
h2 {
  font-size: 1.5em;
  color: #131313;
}
h3 {
  text-align: center;
  color: #131313;
}
a {
  color: #131313;
}
.description {
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.download {
  float: right;
}
pre,code {
  font:100% Consolas,Profont,Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;*font-size:100%;
  background: #777777;
  color: #e7e7e7;
  border-left: solid 3px #1793d1;
  padding: 10px;
}
hr {
  border: 0;
  width: 80%;
  border-bottom: 1px solid #aaa
}
.footer {
  text-align:center;
  padding-top:20px;
  font-style: normal;
}
